body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction:column;
	height: 100vh;

}
.content{
	display: flex;
	flex:1;
}
.sidebar{
	background: #DEDEDE;
	width: 300px;
	border-right: 1px solid #888;
}
.main{
	background: #F2F2F2;
	flex:1;
	padding-left: 10px;
	padding-top: 7px;
	padding-right: 20px;
    margin: 0;
	box-sizing: border-box;
	font-family: monospace;
    overflow: auto;
    border: none;
    resize:none;
    outline: none;
}
ul{
	list-style: none;
	margin-top: 0px;
	padding-left: 0;
	background: #DEDEDE;
}
li{
	margin: 0;
    padding: 2px 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
	/*border-bottom: 1px solid #adadad;*/
	background: #DEDEDE;
}
.active{
	background: linear-gradient(to bottom, #c1c1c1 0%,#cdcdcd 100%); /* W3C */
	border-top: 1px solid #888;
	border-bottom: 1px solid #bbb;
}
.active:first-of-type{
    border-top: 1px solid transparent;
}
.time{
	float:right;
	font-weight: normal;
	font-size: 14px;
}
.title{
	font-weight: bold;
	font-size: 14px;
}
.desc{
	font-size: 12px;
}
.toolbar{
	height: 32px;
	background: #DEDEDE;
	border-bottom: 1px solid #888;
	display: flex;
}
.toolbar input{
	border: 1px solid #888;
	border-radius: 3px;
	height: 20px;
	margin-top: 4px;
	margin-left: 6px;
	margin-right: 6px;
	flex:1;
    outline: none;
}
.sidebar.overview > ul{
    display: none;
}
.sidebar > .overview{
    display: none;
}
.overview > .overview{
    display: block;
}
#overview{
    width: 0;
    border: none;
}
